.text-bold h1{
    font-weight: bolder;
}
.bg-sky{
    background-color: aqua;
}
.pos{
 margin-top: 80px;
 margin-left: 48%;
}
.bg-ash{
    background-color: rgb(93, 104, 107);
}
.text-offwhite{
color: rgb(80, 67, 60);
}